h1{
  text-align: center;
  font-size: 50px;
  height:15%;
  margin:0px;
  padding-top: 3%;
}
body{
  margin: 0px;
  height:100vh;
  width:100vw;
}
 #vmap {
   width:80vw; height:100vh; position:absolute;
 }

.grid {
  width:100%;
  display:grid;
  grid-template-columns: 3fr 2fr;
  padding-top:6%;
}

.grid_login {
  padding-top: 20%;
  display:grid;
  grid-template-columns:20% 50% 30%;
  vertical-align: center;
}

.grid_control {
  display:grid;
  grid-template-rows: 30% 5% 15% 50%;
  width:20vw;
  height:100vh;
  position:absolute;
  right:0px;
  background:white;
}

.grid_layerbutton {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: repeat(1fr,6);
}

.text {
  text-align: center;
  vertical-align: center;
}

.textinput {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

img {
  max-width:100%;
  height: auto;
}
#login_button {
  align:center;
  width:70%;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
}
#textinput {
  align:center;
  width: 80%;
  height:15px;
  font-size:15px;
}

@media(max-aspect-ratio:5/4) {
  #vmap {
    width:100vw; height:80vh; position:absolute;
  }
  .grid_control {
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 40% 20%;
    width:100vw;
    height:20vh;
    position:absolute;
    bottom:0px;
    background:white
  }
  .grid{
    display: block;
  }

  img {
    max-height:100%;
    width: auto;
  }

  ul {
    float: left;
  }

}
