h1{
  font-size:300%;
  text-align: center;
  padding-top: 50px;
}
.grid {
  width:100%;
  display:grid;
  grid-template-columns: 3fr 2fr;
  margin-top:140px;
}

.grid_login {
  max-width: 100%;
  height: 60px;
  display:grid;
  grid-template-columns: 10% 60% 30%;
  margin-top:140px;
  text-align: center;
  vertical-align: center;
}

.grid_map {
  width:100%;
  height:84%;
  display:grid;
  grid-template-columns: 80% 20%;
}

.text {
  text-align: center;
}

img {
  max-width:100%;
  height: auto;
}
#login_button {
  align:center;
  width:70%;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
}
#textinput {
  align:center;
  width: 80%;
  height:15px;
  font-size:15px;
}
@media(max-aspect-ratio:5/4) {
  .grid{
    display: block;
  }
  .grid_map{
    display: block;
  }
}
